In [1]:
import pandas as pd
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
df=pd.read_csv('data/sphist.csv')#parse_dates=['Date']
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: float64(6), object(1)
memory usage: 907.4+ KB

In [3]:
df['Date']=pd.to_datetime(df['Date'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  datetime64[ns]
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 907.4 KB

In [5]:

date_to_compare=datetime(year=2015,month=4,day=1)
date_to_compare

datetime.datetime(2015, 4, 1, 0, 0)

In [6]:
df.sort_values(by='Date',inplace=True)

In [7]:
df.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

In [8]:
#df.set_index('Date',inplace=True)
df['5day_avg']=df['Close'].rolling(5).mean().shift(1)


df['30day_avg']=df['Close'].rolling(30).mean().shift(1)
df['365day_avg']=df['Close'].rolling(365).mean().shift(1)

df['5day_std']=df['Close'].rolling(5).std().shift(1)
#df['30day_std']=df['Close'].rolling(30).std().shift(1)
df['365day_std']=df['Close'].rolling(365).std().shift(1)

In [9]:
df.head(35)

,Date,Open,High,Low,Close,Volume,Adj Close,5day_avg,30day_avg,365day_avg,5day_std,365day_std
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900,NaN,NaN,0.157956,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974,NaN,NaN,0.089051,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022,NaN,NaN,0.067602,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988,NaN,NaN,0.134796,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926,NaN,NaN,0.196545,NaN
16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1790000.0,16.860001,16.854,NaN,NaN,0.191912,NaN
16578,1950-01-18,16.850000,16.850000,16.850000,16.850000,1570000.0,16.850000,16.820,NaN,NaN,0.166283,NaN
16577,1950-01-19,16.870001,16.870001,16.870001,16.870001,1170000.0,16.870001,16.772,NaN,NaN,0.082280,NaN
16576,1950-01-20,16.900000,16.900000,16.900000,16.900000,1440000.0,16.900000,16.794,NaN,NaN,0.092359,NaN
16575,1950-01-23,16.920000,16.920000,16.920000,16.920000,1340000.0,16.920000,16.840,NaN,NaN,0.069643,NaN
16574,1950-01-24,16.860001,16.860001,16.860001,16.860001,1250000.0,16.860001,16.880,NaN,NaN,0.029155,NaN
16573,1950-01-25,16.740000,16.740000,16.740000,16.740000,1700000.0,16.740000,16.880,NaN,NaN,0.029155,NaN
16572,1950-01-26,16.730000,16.730000,16.730000,16.730000,1150000.0,16.730000,16.858,NaN,NaN,0.070143,NaN
16571,1950-01-27,16.820000,16.820000,16.820000,16.820000,1250000.0,16.820000,16.830,NaN,NaN,0.089443,NaN
16570,1950-01-30,17.020000,17.020000,17.020000,17.020000,1640000.0,17.020000,16.814,NaN,NaN,0.080499,NaN
16569,1950-01-31,17.049999,17.049999,17.049999,17.049999,1690000.0,17.049999,16.834,NaN,NaN,0.117388,NaN
16568,1950-02-01,17.049999,17.049999,17.049999,17.049999,1810000.0,17.049999,16.872,NaN,NaN,0.153199,NaN
16567,1950-02-02,17.230000,17.230000,17.230000,17.230000,2040000.0,17.230000,16.934,NaN,NaN,0.149097,NaN
16566,1950-02-03,17.290001,17.290001,17.290001,17.290001,2210000.0,17.290001,17.034,NaN,NaN,0.145705,NaN
16565,1950-02-06,17.320000,17.320000,17.320000,17.320000,1490000.0,17.320000,17.128,NaN,NaN,0.122964,NaN
16564,1950-02-07,17.230000,17.230000,17.230000,17.230000,1360000.0,17.230000,17.188,NaN,NaN,0.130078,NaN
16563,1950-02-08,17.209999,17.209999,17.209999,17.209999,1470000.0,17.209999,17.224,NaN,NaN,0.104786,NaN
16562,1950-02-09,17.280001,17.280001,17.280001,17.280001,1810000.0,17.280001,17.256,NaN,NaN,0.046691,NaN
16561,1950-02-10,17.240000,17.240000,17.240000,17.240000,1790000.0,17.240000,17.266,NaN,NaN,0.045056,NaN
16560,1950-02-14,17.059999,17.059999,17.059999,17.059999,2210000.0,17.059999,17.256,NaN,NaN,0.043932,NaN
16559,1950-02-15,17.059999,17.059999,17.059999,17.059999,1730000.0,17.059999,17.204,16.976667,NaN,0.084440,NaN
16558,1950-02-16,16.990000,16.990000,16.990000,16.990000,1920000.0,16.990000,17.170,16.990000,NaN,0.103442,NaN
16557,1950-02-17,17.150000,17.150000,17.150000,17.150000,1940000.0,17.150000,17.126,16.994667,NaN,0.126413,NaN
16556,1950-02-20,17.200001,17.200001,17.200001,17.200001,1420000.0,17.200001,17.100,17.002000,NaN,0.096696,NaN
16555,1950-02-21,17.170000,17.170000,17.170000,17.170000,1260000.0,17.170000,17.092,17.009333,NaN,0.082886,NaN

In [10]:
# Calculating complex indicators involving 3 primary indicators
df["ratio_avg_5_to_365"] = df["5day_avg"]/df["365day_avg"] 
df["ratio_std_5_to_365"] = df["5day_std"]/df["365day_std"]

In [11]:
df.tail(35)

,Date,Open,High,Low,Close,Volume,Adj Close,5day_avg,30day_avg,365day_avg,5day_std,365day_std,ratio_avg_5_to_365,ratio_std_5_to_365
34,2015-10-19,2031.729980,2034.449951,2022.310059,2033.660034,3.287320e+09,2033.660034,2014.471972,1965.242334,2022.505397,15.572602,71.090429,0.996028,0.219053
33,2015-10-20,2033.130005,2039.119995,2026.609985,2030.770020,3.331500e+09,2030.770020,2017.711987,1968.990336,2022.938356,17.866091,70.673462,0.997416,0.252798
32,2015-10-21,2033.469971,2037.969971,2017.219971,2018.939941,3.627790e+09,2018.939941,2023.128003,1971.035669,2023.355589,16.613377,70.266648,0.999888,0.236433
31,2015-10-22,2021.880005,2055.199951,2021.880005,2052.510010,4.430850e+09,2052.510010,2028.067993,1973.598999,2023.690630,6.423049,69.951681,1.002163,0.091821
30,2015-10-23,2058.189941,2079.739990,2058.189941,2075.149902,4.108460e+09,2075.149902,2033.797998,1976.939665,2024.115452,12.047430,69.653114,1.004784,0.172963
29,2015-10-26,2075.080078,2075.139893,2066.530029,2071.179932,3.385800e+09,2071.179932,2042.205981,1980.742993,2024.626740,22.003397,69.339351,1.008683,0.317329
28,2015-10-27,2068.750000,2070.370117,2058.840088,2065.889893,4.216880e+09,2065.889893,2049.709961,1984.681323,2025.175589,24.604400,68.910320,1.012115,0.357050
27,2015-10-28,2066.479980,2090.350098,2063.110107,2090.350098,4.698110e+09,2090.350098,2056.733936,1987.607987,2025.690739,22.791960,68.507660,1.015325,0.332692
26,2015-10-29,2088.350098,2092.520020,2082.629883,2089.409912,4.008940e+09,2089.409912,2071.015967,1990.775989,2026.253123,13.781074,68.192017,1.022091,0.202092
25,2015-10-30,2090.000000,2094.320068,2079.340088,2079.360107,4.256200e+09,2079.360107,2078.395947,1994.082987,2026.846493,10.991113,67.794466,1.025433,0.162124
24,2015-11-02,2080.760010,2106.199951,2080.760010,2104.050049,3.760020e+09,2104.050049,2079.237988,1998.127323,2027.370685,10.840501,67.457028,1.025584,0.160702
23,2015-11-03,2102.629883,2116.479980,2097.510010,2109.790039,4.272060e+09,2109.790039,2085.812012,2002.696659,2027.950302,14.183468,67.203323,1.028532,0.211053
22,2015-11-04,2110.600098,2114.590088,2096.979980,2102.310059,4.078870e+09,2102.310059,2094.592041,2008.264994,2028.523617,12.219794,67.005620,1.032570,0.182370
21,2015-11-05,2101.679932,2108.780029,2090.409912,2099.929932,4.051890e+09,2099.929932,2096.984033,2013.716663,2029.045261,12.351710,66.836206,1.033483,0.184806
20,2015-11-06,2098.600098,2101.909912,2083.739990,2099.199951,4.369020e+09,2099.199951,2099.088037,2019.306327,2029.566219,11.612879,66.644825,1.034255,0.174250
19,2015-11-09,2096.560059,2096.560059,2068.239990,2078.580078,3.882350e+09,2078.580078,2103.056006,2024.901660,2030.057096,4.228867,66.495490,1.035959,0.063596
18,2015-11-10,2077.189941,2083.669922,2069.909912,2081.719971,3.821440e+09,2081.719971,2097.962012,2031.461995,2030.481781,11.617576,66.308258,1.033234,0.175206
17,2015-11-11,2083.409912,2086.939941,2074.850098,2075.000000,3.692410e+09,2075.000000,2092.347998,2038.049662,2030.911233,11.249314,66.130388,1.030251,0.170108
16,2015-11-12,2072.290039,2072.290039,2045.660034,2045.969971,4.016370e+09,2045.969971,2086.885986,2043.215328,2031.324274,11.818743,65.932822,1.027352,0.179254
15,2015-11-13,2044.640015,2044.640015,2022.020020,2023.040039,4.278750e+09,2023.040039,2076.093994,2047.286995,2031.647808,19.237795,65.713193,1.021877,0.292754
14,2015-11-16,2022.079956,2053.219971,2019.390015,2053.189941,3.741240e+09,2053.189941,2060.862012,2049.676331,2031.874055,25.500694,65.540308,1.014267,0.389084
13,2015-11-17,2053.669922,2066.689941,2045.900024,2050.439941,4.427350e+09,2050.439941,2055.783984,2051.880994,2032.158302,23.543261,65.406655,1.011626,0.359952
12,2015-11-18,2051.989990,2085.310059,2051.989990,2083.580078,3.926390e+09,2083.580078,2049.527978,2054.231657,2032.430000,18.556238,65.275567,1.008413,0.284275
11,2015-11-19,2083.699951,2086.739990,2078.760010,2081.239990,3.628110e+09,2081.239990,2051.243994,2057.156661,2032.793808,21.641014,65.189294,1.009076,0.331972
10,2015-11-20,2082.820068,2097.060059,2082.820068,2089.169922,3.929600e+09,2089.169922,2058.297998,2059.416992,2033.170110,24.982412,65.071007,1.012359,0.383925
9,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2071.523974,2061.892989,2033.605890,18.246940,64.911334,1.018646,0.281106
8,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2078.204004,2064.197327,2034.018028,15.807754,64.768328,1.021723,0.244066
7,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2085.943994,2067.045658,2034.432712,3.491188,64.634873,1.025320,0.054014
6,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2087.002002,2070.199996,2034.835123,3.395982,64.514871,1.025637,0.052639
5,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2088.776025,2072.408333,2035.199864,1.309055,64.449800,1.026325,0.020311
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178,3.916109,64.370261,1.025297,0.060837
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082,7.956808,64.352527,1.026680,0.123644
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356,9.333599,64.277554,1.025573,0.145208
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343,19.599946,64.121622,1.021580,0.305668
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425,19.806136,64.058862,1.021554,0.309187

Since you're computing indicators that use historical data, there are some rows where there isn't enough historical data to generate them. Some of the indicators use 365 days of historical data and the dataset starts on 1950-01-03. Thus, any rows that fall before 1951-01-03 don't have enough historical data to compute all the indicators. You'll need to remove these rows before you split the data.

In [12]:
df=df[df['Date']>datetime(year=1951,month=1,day=2)].copy()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16340 entries, 16339 to 0
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                16340 non-null  datetime64[ns]
 1   Open                16340 non-null  float64
 2   High                16340 non-null  float64
 3   Low                 16340 non-null  float64
 4   Close               16340 non-null  float64
 5   Volume              16340 non-null  float64
 6   Adj Close           16340 non-null  float64
 7   5day_avg            16340 non-null  float64
 8   30day_avg           16340 non-null  float64
 9   365day_avg          16225 non-null  float64
 10  5day_std            16340 non-null  float64
 11  365day_std          16225 non-null  float64
 12  ratio_avg_5_to_365  16225 non-null  float64
 13  ratio_std_5_to_365  16225 non-null  float64
dtypes: datetime64[ns](1), float64(13)
memory usage: 1.9 MB

In [14]:
df.dropna(inplace=True)

In [15]:
train=df[df['Date']<datetime(year=2013,month=1,day=1)].copy()
test=df[df['Date']>=datetime(year=2013,month=1,day=1)].copy()

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15486 entries, 16224 to 739
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                15486 non-null  datetime64[ns]
 1   Open                15486 non-null  float64
 2   High                15486 non-null  float64
 3   Low                 15486 non-null  float64
 4   Close               15486 non-null  float64
 5   Volume              15486 non-null  float64
 6   Adj Close           15486 non-null  float64
 7   5day_avg            15486 non-null  float64
 8   30day_avg           15486 non-null  float64
 9   365day_avg          15486 non-null  float64
 10  5day_std            15486 non-null  float64
 11  365day_std          15486 non-null  float64
 12  ratio_avg_5_to_365  15486 non-null  float64
 13  ratio_std_5_to_365  15486 non-null  float64
dtypes: datetime64[ns](1), float64(13)
memory usage: 1.8 MB

In [17]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 739 entries, 738 to 0
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                739 non-null    datetime64[ns]
 1   Open                739 non-null    float64
 2   High                739 non-null    float64
 3   Low                 739 non-null    float64
 4   Close               739 non-null    float64
 5   Volume              739 non-null    float64
 6   Adj Close           739 non-null    float64
 7   5day_avg            739 non-null    float64
 8   30day_avg           739 non-null    float64
 9   365day_avg          739 non-null    float64
 10  5day_std            739 non-null    float64
 11  365day_std          739 non-null    float64
 12  ratio_avg_5_to_365  739 non-null    float64
 13  ratio_std_5_to_365  739 non-null    float64
dtypes: datetime64[ns](1), float64(13)
memory usage: 86.6 KB

In [26]:
lr=LinearRegression()
features=train.columns[7:]
target='Close'
lr.fit(train[features],train[target])
predictions=lr.predict(test[features])
test['Predicted_Close']=predictions
mae=mean_absolute_error(predictions,test[target])

In [27]:
mae

16.14514060974421

In [28]:
test.head()

,Date,Open,High,Low,Close,Volume,Adj Close,5day_avg,30day_avg,365day_avg,5day_std,365day_std,ratio_avg_5_to_365,ratio_std_5_to_365,Predicted_Close
738,2013-01-02,1426.189941,1462.430054,1426.189941,1462.420044,4.202600e+09,1462.420044,1418.641992,1414.258667,1327.534055,9.820801,90.463948,1.068629,0.108560,1419.354407
737,2013-01-03,1462.420044,1465.469971,1455.530029,1459.369995,3.829730e+09,1459.369995,1425.793994,1417.676668,1327.908247,22.261321,90.738976,1.073714,0.245334,1425.505780
736,2013-01-04,1459.369995,1467.939941,1458.989990,1466.469971,3.424290e+09,1466.469971,1433.702002,1420.092668,1328.224877,26.274326,90.995857,1.079412,0.288742,1433.379736
735,2013-01-07,1466.469971,1466.469971,1456.619995,1461.890015,3.304970e+09,1461.890015,1443.376001,1422.714665,1328.557617,27.945242,91.279049,1.086423,0.306152,1443.360695
734,2013-01-08,1461.890015,1461.890015,1451.640015,1457.150024,3.601600e+09,1457.150024,1455.267993,1425.076664,1328.898603,16.453319,91.544368,1.095093,0.179731,1457.055697